$primary: #c20a34;
$secondary: #1e1f29;
$phone: 'max-width:660px';
$min_tablet: 'min-width:410px';
$tablet: 'min-width:660px';
$min_laptopI: 'min-width:766px';
$min_laptopF: 'max-width:990px';
$laptop: 'min-width:1100px';